
.container {
    background-color: lightgray;
}

.message-text {
    color: black;
}

.debug-text {
    color: blue;
}

.script_box {
    flex-grow: 1;    
}

.script_box_ipad {
    height: 400px;
}

.header {
	width:100%;
	height: 60px;
}

.title {
	font-size:20px;
	color:black;
	float:left;
	cursor:default;
}

body {
	font-family: 'Segoe UI', Helvetica, Tahoma, Arial, sans-serif;
}

.copyright {
	font-size:10;
}

p {
	font-size:13;
}