<div style="height:100%" class="container">

	<select ng-model="selectedGroup" ng-options="group.name for group in groups">
		<option value="">-- choose a group --</option>
	</select>

	<select ng-change="loadSampleCode()" ng-model="selectedSample" ng-options="sample.name for sample in samples | filter:selectedGroup">
		<option value="">-- choose a sample --</option>
	</select>

	<p>{{selectedSample.description}}</p>

	<p>
	<button>Run!</button>
	</p>

	<div style="height: 100%" id="TxtRichApiScript">

	</div>


</div>